@media (max-width: 1023px) {
   .center {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
   }
   .nav {
      &__bar {
         height: 352px;
         overflow-y: scroll;
      }
   }
   .promo {
      &__heading {
         font-size: 44px;
      }
      &__info {
         font-size: 24px;
      }
      &__mask {
         height: 352px;
      }
   }
   .product-box{
      padding-top: 155px;
      padding-bottom: 65px;
   }
   .product {
      margin-bottom: 16px;
   }
   .sale {
      padding-top: 20px;
   }
   .features {
      padding-top: 0;
      padding-bottom: 64px;
      flex-direction: column;
      align-items: center;
      &__item {
         padding-top: 48px;
      }
      &__item:not(:last-child) {
         margin-right: 0;
      }
   }
   .subscribe {
      flex-direction: column;
      &__left {
         width: 100%;
         padding: 60px 0 0 0;
      }
      &__right {
         width: 100%;
         padding-top: 48px;
         padding-bottom: 140px;
      }
      &__text {
         max-width: 360px;
      }
   }
   /*****************Catalog Page*****************/
   .sort-box {
      padding-top: 24px;
      padding-bottom: 0;
      height: 80px;
   }
   .options {
      margin-bottom: 0;
      &--catalog {
      top: 245px;
      left: calc(100% - 350px);
      }
   }
   .product-box {
      &--catalog {
         padding-top: 0;
      }
   }

   /*****************Product Page*****************/
   .main__product {
      height: 625px;
   }
   .main__img {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 565px;
   }
   .specification {
      margin-top: 0;
   }
   .product-box--product {
      padding-top: 0;
   }
   /*****************Cart Page*****************/
   .cart-box {
      padding-top: 59px;
      flex-direction: column;
      &__right {
         display: flex;
         justify-content: space-between;
      }
      &__product {
         width: 734px;
      
      }
      &__info {
         width: 472px;
      }
      &__product:last-child {
         margin-bottom: 0;
      }
   }
   .cart__buttons {
      margin-top: 62px;
      margin-bottom: 64px;
      justify-content: space-evenly;
   }
   .checkout {
      margin-top: 38px;
   }
   /************Registration Page*****************/
   .registration {
      padding-top: 40px;
      &__form {
         width: 49%;
      }
   }
   .advantages{
      width: 49%;
      &__title {
         margin-bottom: 32px;

         font-size: 16px;
         line-height: 19px;
      }
      &__text {
         font-size: 16px;
         line-height: 19px;
      }
      &__item {
         font-size: 16px;
         line-height: 19px;
      }
   }
}
/*******************************************************Media*/
@media (max-width: 767px) {
   .center {
      padding-left: calc(50% - 250px);
      padding-right:  calc(50% - 250px);      
   }
   .header {
      &__link {
      display: none;
      }
      &__button {
         margin-right: 0;
      }  
   }
   .nav {
      &__wrapper {
         width: 100%;
      }
      &__icons {
         padding-top: 7px;
         padding-bottom: 7px;
         display: flex;
         justify-content: space-evenly;
         background-color: $colorSelect;
      }
      &__drop-icon {
         display: flex;

      }
      &__bar {
         height: auto;
         padding-top: 15px;
         overflow-y: scroll;
      }
   }
   .promo {
      height: 363px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
         display: none;
      }
      &__text {
         min-width: 50%;
      }
      &__content {
         margin-top: 0;
      }
      &__heading {
         font-size: 38px;
      }
      &__info {
         font-size: 20px;
      }
   }
   .sale {
      padding-top: 64px;
         &__top {
            flex-direction: column;
            padding-bottom: 0;
         }
         &__item {
            margin-bottom: 32px; 
         }
         &__img {
            &--big {
               height: 111px;
               object-fit: cover;
            }         
         }
   }
   .sale a:not(:last-child) {
      margin-right: 0;
   }
   .product-box {
      padding-top: 32px;
         &__content {
         justify-content: center;
      }
   }
   .features {
      padding-top: 0;
      padding-bottom: 80px;
   }
   .features__item:not(:last-child){
      margin-right: 0;
   }
   .subscribe {
      &__right {
         display: flex;
         align-items: center;
         justify-content: center;
         padding-bottom: 110px;
      }
      &__form{
         box-sizing: border-box;
         padding: 0;
      }
      &__input {
         width: 245px;
      }
      &__button {
         width: 95px;
      }
   }
   .copyright {
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 9px;
   }
   /*****************Catalog Page*****************/
   .breadcrumb {
      flex-direction: column;
      justify-content: space-evenly;
   }
   .options__color, 
   .options__size, 
   .options__quantity {
      font-size: 12px;
      line-height: 14px;
   }
   .filter__title {
      font-size: 0;
   }
   .filter[open] {
      width: 100%;
   }
   .options__trending {
      width: 130px;
   
   }
   .options--catalog details:not(:last-child) {
      margin-right: 10px;
   }
   .options--catalog {
      left: calc(100% - 391px);
   }
   .filter__icon {
      width: 37px;
      height: 25px;
   }
   .product-box--catalog {
      padding-top: 0;
   }

   /*****************Product Page*****************/
   .main__img {
      margin-top: 85px;
      margin-bottom: 85px;
      height: 454px;
   }
   .product-box--product {
      padding-top: 0;
      margin-top: 64px;
   }
   .specification {
      width: 100%;
      &__top {
         max-width: 500px;
      }
      &__bottom {
         max-width: 500px;
      }
      &__hr {
         width: 174px;
      }
   }
   /******************* Cart Page ********************/
   .cart-box {
      flex-direction: column;
      padding-bottom: 96px;
      &__content {
         width: 100%;
         align-items: center;
      }
      &__product {
         width: 357px;
         height: 188px;
      }
      &__img {
         width: 143px;
         height: 188px;
      }
      &__info {
         padding: 14px 17px;
         width: 214px;
         height: 188px;
      }
      &__name {
         margin-bottom: 25px;
         font-size: 16px;
         line-height: 19px;
      }
      &__text {
         font-size: 14px;
         line-height: 17px;
      }
      &__price {
         font-size: 14px;
         line-height: 17px;
      }
      &__close {
         width: 10px;
         height: 11px;
         top: 17px;
         right: 12px;
      }
      &__right {
         flex-direction: column;
         align-items: center;
      }
      &__button {
         padding: 8px 17px;
         width: 174px;
         height: 33px;

         font-size: 12px;
         line-height: 14px;
         text-transform: lowercase;
      }
   }
   .cart__buttons {
      margin-top: 30px;
      margin-bottom: 48px;
      width: 100%;
      justify-content: space-between;
   }
   .checkout {
      margin-top: 48px;
   }
   /************Registration Page*****************/
   .registration {
      flex-direction: column;
      align-items: center;
      
      &__form {
         margin-bottom: 40px;
         width: 100%;
      }
   }
   .advantages {
      width: 100%;
   }
}

//@media (max-width: 667px) {}
/*******************************************************Media*/
@media(max-width: 425px) {
   .center {
      padding-left: 15px;
      padding-right: 15px;
   }
   .header {
      &__link {
      display: none;
      }
      &__button {
         margin-right: 0;
      }  
   }
   .nav {
      &__wrapper {
         width: 100%;
      }
      &__icons {
         padding-top: 7px;
         padding-bottom: 7px;
         display: flex;
         justify-content: space-evenly;
         background-color: $colorSelect;
      }
      &__drop-icon {
         display: flex;

      }
      &__bar {
         height: auto;
         padding-top: 15px;
         overflow-y: scroll;
      }
   }
   .promo {
      height: 363px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
         display: none;
      }
      &__text {
         min-width: 50%;
      }
      &__content {
         margin-top: 0;
      }
      &__heading {
         font-size: 38px;
      }
      &__info {
         font-size: 20px;
      }
   }
   .sale {
      padding-top: 64px;
         &__top {
            flex-direction: column;
            padding-bottom: 0;
         }
         &__item {
            margin-bottom: 32px; 
         }
         &__img {
            &--big {
               height: 111px;
               object-fit: cover;
            }         
         }
   }
   .sale a:not(:last-child) {
      margin-right: 0;
   }
   .product-box {
      padding-top: 32px;
         &__content {
         justify-content: center;
      }
   }
   .features {
      padding-top: 0;
      padding-bottom: 80px;
   }
   .features__item:not(:last-child){
      margin-right: 0;
   }
   .subscribe {
      &__right {
         display: flex;
         align-items: center;
         justify-content: center;
         padding-bottom: 110px;
      }
      &__form{
         box-sizing: border-box;
         padding: 0;
      }
      &__input {
         width: 245px;
      }
      &__button {
         width: 95px;
      }
   }
   .copyright {
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 9px;
   }
   /*****************Catalog Page*****************/
   .breadcrumb {
      flex-direction: column;
      justify-content: space-evenly;
   }
   .options__color, 
   .options__size, 
   .options__quantity {
      font-size: 12px;
      line-height: 14px;
   }
   .filter__title {
      font-size: 0;
   }
   .filter[open] {
      width: 100%;
   }
   .options__trending {
      width: 130px;
   
   }
   .options--catalog details:not(:last-child) {
      margin-right: 10px;
   }
   .options--catalog {
      left: calc(100% - 295px);
   }
   .filter__icon {
      width: 37px;
      height: 25px;
   }
   .product-box--catalog {
      padding-top: 0;
   }
   /******************* Product Page ********************/
   .specification {
      &__top {
         max-width: 330px;
      }
      &__bottom {
         max-width: 330px;
      }
      &__hr {
         margin-top: 32px;
         margin-bottom: 50px;
      }
   }
   .options__color, .options__size, .options__quantity {
      font-size: 12px;
      line-height: 14px;
   }
   .options__summary--product {
      width: 93px;
   }
   .options__summary:not(:last-child) {
      margin-right: 24px;
   }
   .options--product {
      width: 347px;
   }
   .product-box--product {
      padding-top: 0;
   }
}

@media(max-width: 375px) {
   .subscribe__input {
      width: 195px;
   }
   .main__product{
      height: auto;
   }
   .main__img {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      height: 345px;
   }
   .options--product {
      width: 310px;
   }
   .cart-box   {
      &__left {
         width: 100%;
      } 
      &__content {
         width: 100%;
         align-items: center;
      } 
      &__product {
         width: 320px;
      }
      &__info {
         padding: 12px 10px;
      }
      &__button {
         padding: 8px 13px;
         width: 130px;
      }
   }
   .shipping__form {
      width: 100%;
   }
   .shipping__input {
      width: 250px;
   }
   .checkout {
      width: 100%;
      padding: 30px 15px;
   }

}
